@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
  font-weight: bold; 
}

ul{
  margin: 0;
  padding: 0;
}

header{
  background-image: url("../img/capa-madmax.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.container{
  max-width: 960px;    
  margin: 0 auto;
}

.header-navbar{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.navbar-menu{
  display: flex;
  list-style: none;
}

.navbar-menu a{
  font-size: 0.85em;
  padding: 0 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.navbar-menu a:hover{
  color: #e4bb23;
}

.navbar-user{
  display: flex;
  align-items: center;
}

.user-avatar{
  height: 45px;
  border-radius: 50%;
}
.user-name{
  font-size: 0.8em;
  padding-left: 15px;
}

.header-title{
  color: #fff;
  font-size: 4em;
  text-transform: uppercase;
}

.category-menu{
  display: flex;
  list-style: none;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  font-size: 0.8em;
  text-transform: uppercase;
}

.category-menu a{
  text-decoration: none;
  color: #fff;
  padding-right: 20px;
}

.category-menu a:hover{
  color: #e4bb23;
}

.teste{  
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-button{
  background-color: #e4bb23;
  display: inline-block;
  padding: 15px;
  border-radius: 30px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

.header-button:hover {
  background-color: #bc9a1d;
}

.header-button i{
  padding-left: 20px;
  font-size: 1.5em;
}

.header-info{
  font-weight: 400;
  color: #fff;
  font-size: 0.9em;
  padding: 30px 0;
}

.header-info :nth-child(2){
  padding: 20px 0;
  color: #e4bb23;
}

main{
  background-color: #f2f2f2;
}

.movies-menu{
  display: flex;
  justify-content: center;
  list-style: none;
  color: #e4bb23;
  text-transform: uppercase;
  font-size: 0.85em;
  border-bottom: #bababa solid 1px;
}

.movies-menu li{
  margin: 30px 0;
}

.movies-menu a{
  margin: 0 20px;  
  color: #e4bb23;
  text-decoration: none;
}

.movies-menu a:hover{
  border-bottom: solid #e4bb23 2px;
}

.movies-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.movie-list-item{
  list-style: none;
  margin: 30px 0;
  border: solid #dadada 1px;
  border-radius: 10px;
  overflow: hidden;
}

.item-img{
  width: 230px;
  position: relative;
}
.item-img img{
  width: 100%;
}

.item-play{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;  
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 1;
}

.item-play h4{
  color: #e4bb23;
  font-size: 1.3em;
  line-height: 1em;
  text-transform: uppercase;
  margin: 20px;
}

.item-play i{
  font-size: 4em;
  color: #fff;
}

.item-play i:hover {
	color: #e4bb23;
}
  
.movie-list-item:hover .item-play {
  opacity: 1;
  visibility: visible;
}

.item-info{
  padding: 10px;
}

.movies-list h3{
  text-transform: uppercase;  
  font-size: 0.8em;
  padding-bottom: 10px;
}

.item-category{
  font-size: 0.8em;
  font-weight: 400;
  color: #e4bb23;
}

.item-rating{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  font-size: 1.2em;
}

.item-rating i{
  color: #bababa;
}

.item-rating i:hover {
  color: #e74c3c;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:30px 0;
}

.footer-midia{
  display: flex;  
}

.footer-midia li{
  list-style: none;
}

.footer-midia i{
   font-size: 1.5em;
  padding-left: 50px; 
  color: #ababab;
}

.fa-twitter:hover{
  color: #55acee;
}

.fa-facebook-official:hover{
  color: #3b5998;
}

.fa-instagram:hover{
  color: #e95950;
}


